@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap&subset=latin-ext");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: 400;
}
p {
  margin-top: 0;
}

.control-panel {
  margin-bottom: 0.25rem;
  font-weight: 400;
  padding: 0;
}
.control-panel .container {
  margin: 0;
  padding: 0;
}
.control-panel .nav-link {
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: var(--bs-body-color);
}
.control-panel .nav-link.active {
  background-color: #cfd8dc;
}
.control-panel .nav-link.dark {
  color: #ffffff;
  background-color: #343a40;
}

.timetable {
  display: grid;
  overflow: auto;
}

.timeheader,
.dateheader,
.groupheader,
.trayheader {
  color: #455a64;
  background-color: #cfd8dc;
  z-index: 100;
  font-weight: 400;
}
.timeheader {
  padding: 0.125rem 0.375rem;
  grid-row-start: 1;
  position: sticky;
  top: 0;
  margin: 0 0.125rem 0.125rem 0.125rem;
  border-radius: 0 0 0.25rem 0.25rem;
}
.timeheader-minutes {
  color: #78909C;
}
.dateheader {
  padding: 0.125rem 0.375rem;
  grid-column-start: 1;
  display: flex;
  align-items: center;
  margin: 0.125rem 0 0.125rem 0;
  min-height: 5rem;
  text-align: right;
  width: 2rem;
  position: sticky;
  left: 0;
}
.groupheader {
  padding: 0 0.25rem 0 0;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  margin: 0.125rem 0.125rem 0.125rem 0;
  border-radius: 0 0.25rem 0.25rem 0;
  font-size: 0.8rem;
  text-align: right;
  position: sticky;
  left: 2rem;
}

.tray-wrapper {
  display: grid;
  background-color: #fff;
  padding-top: 0.125rem;
  z-index: 200;
  overflow: auto;
}
.tray-wrapper.pinned {
  position: sticky;
  bottom: 0;
  overflow: auto;
  max-height: 30vh;
}
.tray {
  grid-column-start: 3;
}
.tray-header {
  padding: 0.125rem 0.375rem;
  margin: 0.125rem 0.125rem 0.125rem 0;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: #cfd8dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tray-header-icon {
  margin: 0.25rem 0;
}
.tray-add-program {
  display: flex;
  padding: 0.25rem;
  margin: 0.125rem;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 5;
  align-items: center;
  justify-content: center;
  background-color: #dcedc8;
  border: none;
  border-radius: 0.25rem;
  min-height: 2rem;
}
.tray.drag-over .tray-add-program {
  background-color: #29b6f6;
}
.tray.can-drop .tray-add-program {
  background-color: #ffcc80;
}

.block {
  display: grid;
}

.program-wrapper {
  flex: 1 1 100%;
  padding: 0.125rem;
  text-align: center;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  overflow: hidden;
  position: relative;
  min-height: 3.5rem;
}
.program-wrapper.dragged {
  transform: translateX(-9999px);
}

.program {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: #81d4fa;
  line-height: 1.2;
}
.program.violation {
  background-image: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 1.25rem,
    rgba(66, 66, 66, 0.15) 1.25rem,
    rgba(66, 66, 66, 0.15) 2.5rem
  );
}
.program.highlighted {
  background-color: #343a40;
}
.program.faded {
  opacity: 0.7;
}
.program.narrow {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}
.program-wrapper.drag-over .program {
  background-color: #29b6f6 !important;
}

.program-text {
  flex: 1;
  min-width: 0;
  min-height: 0;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.5rem;
}
.program-violated {
  color: #b71c1c;
}
.program-optional {
  font-style: italic;
}
.program-title {
  flex: 0 0 100%;
  min-width: 0;
  margin: 0.2rem 0 0.2rem 0;
  font-size: 1rem;
  text-transform: uppercase;
}
.program.narrow .program-title {
  flex: 1 0 0;
}
.program-package,
.program-time,
.program-place,
.program-people,
.program-violations {
  flex: 0 1 auto;
  min-width: 0;
  font-size: 0.875rem;
  margin-bottom: 0.2rem;
  color: #37474f;
}
.program-package .fa,
.program-time .fa,
.program-place .fa,
.program-people .fa,
.program-violations .fa {
  display: inline;
  opacity: 0.5;
}
.program-violations {
  color: #b71c1c;
}
.program.highlighted .program-title {
  color: #ffffff;
}
.program.highlighted .program-package,
.program.highlighted .program-time,
.program.highlighted .program-place,
.program.highlighted .program-people,
.program.highlighted .program-violations {
  color: #b0bec5;
}

.program.range-0 {
  background-color: #f5f5f5;
}
.program.range-1 {
  background-color: #c8e6c9;
}
.program.range-2 {
  background-color: #81c784;
}
.program.range-3 {
  background-color: #4caf50;
}

.program-edit,
.program-move,
.program-lock,
.program-url,
.program-clone {
  display: none;
  width: 2rem;
  height: 2rem;
  position: absolute;
  line-height: 1;
  padding: 0.375rem;
  cursor: pointer;
  color: #455a64;
}
.program-edit {
  top: 0;
  right: 0;
  text-align: right;
  z-index: 2;
}
.program-move,
.program-lock {
  top: 0;
  left: 0;
  text-align: left;
  z-index: 1;
}
.program-move {
  cursor: move;
}
.program-lock {
  cursor: default;
}
.program-url {
  left: 0;
  bottom: 0;
  text-align: left;
  z-index: 1;
}
.program-url a {
  color: inherit;
}
.program-clone {
  right: 0;
  bottom: 0;
  text-align: right;
  z-index: 1;
}
.program-wrapper:hover .program-edit,
.program-wrapper:hover .program-url,
.program-wrapper:hover .program-move,
.program-wrapper:hover .program-lock,
.program-wrapper:hover .program-clone {
  display: block;
}
.program-wrapper:hover .program-url.narrow,
.program-wrapper:hover .program-move.narrow {
  display: none;
}

.droppable {
  border-radius: 0.25rem;
}
.droppable:hover {
  background-color: #dcedc8;
}
.droppable.selected {
  background-color: #9ccc65;
}
.droppable.drag-over {
  background-color: #29b6f6;
}

.timeindicator {
  border-left: 0.1875rem solid #b71c1c;
  z-index: 999;
}

.color-sample {
  display: inline-block;
  width: 1.5em;
  margin-right: 0.3125rem;
}

.jumbotron .container {
  max-width: 40em;
}

.notifications {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.person-button {
  text-decoration: none;
  font-weight: 300;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

@page {
  margin: 10mm;
}

@media print {
  .control-panel {
    display: none;
  }
  .timetable {
    overflow: hidden;
  }
}

@media screen {
  .print-preview {
    display: none;
  }
}

.App:has(.schedulePage) {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.schedulePage {
  display: flex;
  background: white;
  color: black;
  height: 100%;
  max-height: 100vh;
  align-items: flex-start;
  overflow: hidden;
}

.schedulePage__tray {
  border-left: 3px solid #ccc;
  width: 150px;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  height: 100%;
}

.schedulePage_trayHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.schedulePage_trayHeaderTitle {
  margin: 0;
  font-size: 1.3em;
  line-height: 1;
}

.schedulePage__traySegment {
  padding: .2em .4em;
  margin: 0 0 1px 1px;
  background: var(--segment-color, white);
  border-radius: .5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.schedulePage__traySegment--dark {
  color: white;
}

.schedulePage__mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.schedulePage__tableSegment {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.schedulePage__bottomControls {
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
  /*justify-content: flex-end;*/
  padding: 0.2em;
}

.schedulePage__bottomControls label {
  display: flex;
  align-items: center;
}

.schedulePage__bottomControlsLeft {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-start;
  gap: .5em;
}


.schedulePage__bottomControlsRight {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}

.scheduleTable {
  display: grid;
  grid-template-columns: 3em min-content auto;
  grid-template-rows: auto;
  grid-auto-rows: max(2em, 5em / var(--groups-count));
  padding: 0 1em 1em;
  width: calc(100% * var(--width-scale));
}

.scheduleTable__actions {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1em;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
  margin-left: -1em;
  padding-left: 1em;
}

.scheduleTable__dayLabel {
  grid-row-start: calc(var(--day) * var(--groups-count) + 2);
  grid-row-end: span var(--groups-count);
  grid-column: 1;
  padding: 1em 2em 1em 0;
  margin-left: -1em;
  white-space: nowrap;
  align-self: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transform-origin: center center;
  position: sticky;
  left: 0;
  z-index: 1;
  background: white;
}

.scheduleTable__day {
  grid-row-start: calc(var(--day) * var(--groups-count) + 2);
  grid-row-end: span var(--groups-count);
  grid-column: 3;
  /*background: red;*/
  /*z-index: 1;*/
  /*pointer-events: all;*/
}

.scheduleTable__dayLine {
  grid-row: calc((var(--day) + 1) * var(--groups-count) + 1);
  grid-column: 1 / span 3;
  border-bottom: 1px solid #ccc;
}

.scheduleTable__groupLabel {
  grid-row: calc(var(--group-day) * var(--groups-count) + var(--group-index) + 2);
  grid-column: 2;
  white-space: nowrap;
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: .5em;
  position: sticky;
  left: 4em;
  z-index: 1;
  background: linear-gradient(90deg, white, white, transparent);
}

.scheduleTable__timeLabels {
  grid-row: 1;
  grid-column: 3;
  position: sticky;
  top: 0;
  padding: 1em 0 2em;
  /*background-color: #fffe;*/
  height: 4em;
  background: linear-gradient(to top, #fff0 0, #fffa 1em, #ffff 100%);
  z-index: 1;
}

.scheduleTable__timeLabel {
  grid-row: 1;
  grid-column: 3;
  align-self: end;
  white-space: nowrap;
  position: absolute;
  left: calc(var(--time) * 100%);
  transform-origin: left center;
  bottom: 0;
  transform: rotate(-90deg);
  width: fit-content;
}

.scheduleTable__timeLine {
  grid-row-start: 2;
  grid-row-end: span calc(var(--groups-count) * var(--days-count));
  grid-column: 3;
  border-left: 1px solid #00000011;
  position: relative;
  left: calc(var(--time) * 100%);
  width: 0;
}

.scheduleTable__timeLine--major {
  border-color: #00000055;
}

.scheduleTable__plannable {
  grid-row-start: calc(var(--segment-day) * var(--groups-count) + var(--segment-group-first) + 2);
  grid-row-end: span var(--segment-groups-count);
  grid-column: 3;
  width: calc(var(--segment-duration) * 100% - 1px);
  position: relative;
  left: calc(var(--segment-start) * 100%);
  margin: 0 0 1px 1px;
  overflow: hidden;
}

.scheduleTable__plannable, .scheduleTable__plannableExpansion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: .2em .3em;
  justify-content: flex-start;
  background: var(--segment-color, white);
}

.scheduleTable__plannable--start {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.scheduleTable__plannable--end {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.scheduleTable__plannable::after, .scheduleTable__plannableExpansion::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.5s;
  filter: brightness(0.5);
  border: 2px solid var(--segment-color, white);
}

.scheduleTable__plannable--dragged {
  opacity: .5;
}

.scheduleTable__plannable--hovering::after, .scheduleTable__plannableExpansion::after {
  opacity: 1;
}

.scheduleTable__plannableTitle {
  overflow: hidden;
  max-height: 100%;
  white-space: nowrap;
  font-size: .7em;
  flex: 0 0 auto;
}

.scheduleTable__plannableOwners {
  overflow: hidden;
  max-height: 100%;
  white-space: nowrap;
  font-size: .5em;
  padding: .1em .5em;
  background: #ccc7;
  border-radius: 1em;
  max-width: 100%;
  margin-bottom: 2px;
}

.scheduleTable__plannableExpansion {
  position: fixed;
  left: var(--position-x);
  bottom: calc(100vh - var(--position-y));
  z-index: 1;
  padding: .5em;
  color: black;
  background: white;
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.6);
}


.scheduleTable__plannableExpansion .scheduleTable__plannableTitle {
  font-size: 1rem;
}
.scheduleTable__plannableExpansion .scheduleTable__plannableOwners {
  font-size: .7rem;
}

.scheduleTable__plannable--dark {
  color: white;
}

.scheduleTable__plannable--notHighlighted {
  opacity: .3;
  filter: blur(1px);
}

.scheduleTable__plannable--violated {
  background-image: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 1.25rem,
    rgba(66, 66, 66, 0.15) 1.25rem,
    rgba(66, 66, 66, 0.15) 2.5rem
    );
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog__content {
  max-height: calc(100vh - 2em);
  background: white;
  border-radius: 0.5em;
  padding: 1em;
  overflow: auto;
  width: 600px;
  max-width: calc(100vw - 2em);
}

.contextMenu__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.contextMenu {
  position: fixed;
  top: var(--position-y);
  left: var(--position-x);
  background: white;
  display: flex;
  flex-direction: column;
  min-width: 10em;
  padding: .1em;
  gap: .1em;
  border-radius: .1em;
  align-items: stretch;
  border: 1px solid #aaa;
}

.contextMenu__item {
  padding: 0.2em 0.5em;
}

.contextMenu__item:hover {
  background: #eee;
  cursor: pointer;
}

.fastInput__fullScreenWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #fffe;
  font-size: 2rem;
  align-items: stretch;
  flex-direction: column;
}

.fastInput__fullScreenWrapperInner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: min(90vw, 900px);
  margin: 5vh auto 0;
}

.fastInput__input {
  flex: 1;
  font-size: 1em;
  padding: .5em;
  border-radius: 10px;
  border: 1px solid #aaa;
  font-family: inherit;
  font-weight: 600;
}

.fastInput__input:focus {
  outline: none;
  border-color: #3da9eb;
}

.fastInput__completedValue {
  font-size: .7em;
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
}

.fastInput__title {
  margin: 0 0 .2em;
  font-size: 1.5em;
  text-align: center;
}

.fastInput__closeHint {
  text-align: center;
  font-size: .6em;
  margin: 0 0 1em;
  color: #999;
}
