@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap&subset=latin-ext");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: 400;
}
p {
  margin-top: 0;
}

.control-panel {
  margin-bottom: 0.25rem;
  font-weight: 400;
  padding: 0;
}
.control-panel .container {
  margin: 0;
  padding: 0;
}
.control-panel .nav-link {
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: var(--bs-body-color);
}
.control-panel .nav-link.active {
  background-color: #cfd8dc;
}
.control-panel .nav-link.dark {
  color: #ffffff;
  background-color: #343a40;
}

.timetable {
  display: grid;
}

.timeheader,
.dateheader,
.groupheader,
.trayheader {
  color: #455a64;
  background-color: #cfd8dc;
  z-index: 100;
  font-weight: 400;
}
.timeheader {
  padding: 0.125rem 0.375rem;
  grid-row-start: 1;
  position: sticky;
  top: 0;
  margin: 0 0.125rem 0.125rem 0.125rem;
  border-radius: 0 0 0.25rem 0.25rem;
}
.timeheader-minutes {
  color: #78909C;
}
.dateheader {
  padding: 0.125rem 0.375rem;
  grid-column-start: 1;
  display: flex;
  align-items: center;
  margin: 0.125rem 0 0.125rem 0;
  min-height: 5rem;
  text-align: right;
}
.groupheader {
  padding: 0 0.25rem 0 0;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  margin: 0.125rem 0.125rem 0.125rem 0;
  border-radius: 0 0.25rem 0.25rem 0;
  font-size: 0.8rem;
  text-align: right;
}

.tray-wrapper {
  display: grid;
  background-color: #fff;
  padding-top: 0.125rem;
  z-index: 200;
}
.tray-wrapper.pinned {
  position: sticky;
  bottom: 0;
  overflow: auto;
  max-height: 30vh;
}
.tray {
  grid-column-start: 3;
}
.tray-header {
  padding: 0.125rem 0.375rem;
  margin: 0.125rem 0.125rem 0.125rem 0;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: #cfd8dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tray-header-icon {
  margin: 0.25rem 0;
}
.tray-add-program {
  display: flex;
  padding: 0.25rem;
  margin: 0.125rem;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 5;
  align-items: center;
  justify-content: center;
  background-color: #dcedc8;
  border: none;
  border-radius: 0.25rem;
  min-height: 2rem;
}
.tray.drag-over .tray-add-program {
  background-color: #29b6f6;
}

.block {
  display: grid;
}

.program-wrapper {
  flex: 1 1 100%;
  padding: 0.125rem;
  text-align: center;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  overflow: hidden;
  position: relative;
  min-height: 3.5rem;
}
.program-wrapper.dragged {
  transform: translateX(-9999px);
}

.program {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: #81d4fa;
  line-height: 1.2;
}
.program.violation {
  background-image: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 1.25rem,
    rgba(66, 66, 66, 0.15) 1.25rem,
    rgba(66, 66, 66, 0.15) 2.5rem
  );
}
.program.highlighted {
  background-color: #343a40;
}
.program.faded {
  opacity: 0.7;
}
.program.narrow {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}
.program-wrapper.drag-over .program {
  background-color: #29b6f6 !important;
}

.program-text {
  flex: 1;
  min-width: 0;
  min-height: 0;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.5rem;
}
.program-violated {
  color: #b71c1c;
}
.program-title {
  flex: 0 0 100%;
  min-width: 0;
  margin: 0.2rem 0 0.2rem 0;
  font-size: 1rem;
  text-transform: uppercase;
}
.program.narrow .program-title {
  flex: 1 0 0;
}
.program-package,
.program-time,
.program-place,
.program-people,
.program-violations {
  flex: 0 1 auto;
  min-width: 0;
  font-size: 0.875rem;
  margin-bottom: 0.2rem;
  color: #37474f;
}
.program-package .fa,
.program-time .fa,
.program-place .fa,
.program-people .fa,
.program-violations .fa {
  display: inline;
  opacity: 0.5;
}
.program-violations {
  color: #b71c1c;
}
.program.highlighted .program-title {
  color: #ffffff;
}
.program.highlighted .program-package,
.program.highlighted .program-time,
.program.highlighted .program-place,
.program.highlighted .program-people,
.program.highlighted .program-violations {
  color: #b0bec5;
}

.program.range-0 {
  background-color: #f5f5f5;
}
.program.range-1 {
  background-color: #c8e6c9;
}
.program.range-2 {
  background-color: #81c784;
}
.program.range-3 {
  background-color: #4caf50;
}

.program-edit,
.program-move,
.program-lock,
.program-url,
.program-clone {
  display: none;
  width: 2rem;
  height: 2rem;
  position: absolute;
  line-height: 1;
  padding: 0.375rem;
  cursor: pointer;
  color: #455a64;
}
.program-edit {
  top: 0;
  right: 0;
  text-align: right;
  z-index: 2;
}
.program-move,
.program-lock {
  top: 0;
  left: 0;
  text-align: left;
  z-index: 1;
}
.program-move {
  cursor: move;
}
.program-lock {
  cursor: default;
}
.program-url {
  left: 0;
  bottom: 0;
  text-align: left;
  z-index: 1;
}
.program-url a {
  color: inherit;
}
.program-clone {
  right: 0;
  bottom: 0;
  text-align: right;
  z-index: 1;
}
.program-wrapper:hover .program-edit,
.program-wrapper:hover .program-url,
.program-wrapper:hover .program-move,
.program-wrapper:hover .program-lock,
.program-wrapper:hover .program-clone {
  display: block;
}
.program-wrapper:hover .program-url.narrow,
.program-wrapper:hover .program-move.narrow {
  display: none;
}

.droppable {
  border-radius: 0.25rem;
}
.droppable:hover {
  background-color: #dcedc8;
}
.droppable.selected {
  background-color: #9ccc65;
}
.droppable.drag-over {
  background-color: #29b6f6;
}

.timeindicator {
  border-left: 0.1875rem solid #b71c1c;
  z-index: 999;
}

.color-sample {
  display: inline-block;
  width: 1.5em;
  margin-right: 0.3125rem;
}

.jumbotron .container {
  max-width: 40em;
}

.notifications {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

@page {
  margin: 10mm;
}

@media print {
  .control-panel {
    display: none;
  }
}
