on: [pull_request]

jobs:
  build_frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build app
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm ci -ws
      - run: npm run test -ws
      - run: npm run format -ws
      - run: npm run lint -ws
      - run: npm run build -ws

      - name: Cypress tests
        uses: cypress-io/github-action@v5.1.0
        with:
          component: true
