on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy_frontend:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    concurrency:
      group: frontend
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Add config file
        run: 'echo ''{ "apiKey": "${{ secrets.GCP_API_KEY }}" }'' > src/config.local.json'

      - name: Build
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm ci
      - run: npm run build

      - name: Auth
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Deploy
        uses: "google-github-actions/deploy-appengine@v2"
        with:
          version: "v0-1-0"
